<%- include("partials/header") -%>

<h1>Home</h1>
<!-- we are rendering the line 7 to the app.js in line 22 -->
<p><%= homeStartingContent %></p>
<% console.log(posts); %>
<!-- We are looping through all the posts titles  -->
<% posts.forEach(function(post) {%>
    <h1> <%= post.title %></h1>
    <p> 
    <%= post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post.title%>">Read More</a>
</p>
    <% });%>


<%- include("partials/footer") -%>

